body {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.logo {
    color: #E5E7Eb;
    font-size: 24px;
}

.header-links {
    color: #E5E7Eb;
}

.hero {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 50px;
    padding: 50px;
    margin: 0;
    height: 250px;
}

.hero-left {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50vw;
    height: 100%;
}

.hero-right {
    display: flex;
    background-color: #E5E7EB;
    width: 50vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
    margin: 0;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 8px;
}

.two {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
    padding: 50px 0px;
}

.block-row {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 75vw;
    gap: 50px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 32px;
}